.welcome {
  font-size: 20px;
  font-style: normal;
  font-variant: normal;
  text-shadow: 2px 2px 4px grey;
  position: absolute;
  font-family: "Bubblegum Sans";
  color: white;
  z-index: 15;
}






body {
  background-color: #cccccc;
  background: url("background.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
