.welcome {
  font-size: 20px;
  font-style: normal;
  font-variant: normal;
  text-shadow: 2px 2px 4px grey;
  position: center;
  font-family: "Bubblegum Sans";
  color: white;
  z-index: 15;
}

.home{
  font-size: 20px;
  font-style: normal;
  font-variant: normal;
  text-shadow: 2px 2px 4px grey;
  position: center;
  font-family: "Bubblegum Sans";
  color: navy;
  z-index: 15;
}

.header{
  z-index: 20;
  position: fixed;
  width: 100%;
}

body {
  background-color: #cccccc;
  background: url("background.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.map {
  position: fixed;
}