<<<<<<< HEAD
body {
  /* background-color: #141F66; */
  color: FFFCD1;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
header{
  color: FFFCD1;

}
footer {
   position: fixed;

}
.Home, .Welcome, .userLogin, .SearchBar{
  color:FFFCD1;
}
=======
>>>>>>> b2f79de9fd75589a1a6e9e2e7065bcbddd624ae1
